In [38]:
import csv
import json
import pandas as pd

In [81]:
df = pd.read_csv("Website_Rough_Code/Website/assets/resources/movie_df_with_labels.csv", index_col=["Unnamed: 0"])
df.head()

,adult,budget,original_language,popularity,revenue,runtime,status,title,vote_average,vote_count,...,genre_horror,genre_music,genre_mystery,genre_romance,genre_science_fiction,genre_tv_movie,genre_thriller,genre_war,genre_western,group
0,False,0,en,8.387519,76578911,106.0,Released,Father of the Bride Part II,5.7,173,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
1,False,35000000,en,5.231580,64350171,106.0,Released,Sudden Death,5.5,174,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
2,False,58000000,en,14.686036,352194034,130.0,Released,GoldenEye,6.6,1194,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2
3,False,62000000,en,6.318445,107879496,106.0,Released,The American President,6.5,199,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3
4,False,0,en,5.430331,0,88.0,Released,Dracula: Dead and Loving It,5.7,210,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [82]:
df.columns

Index(['adult', 'budget', 'original_language', 'popularity', 'revenue',
       'runtime', 'status', 'title', 'vote_average', 'vote_count',
       'genre_action', 'genre_adventure', 'genre_animation', 'genre_comedy',
       'genre_crime', 'genre_documentary', 'genre_drama', 'genre_family',
       'genre_fantasy', 'genre_foreign', 'genre_history', 'genre_horror',
       'genre_music', 'genre_mystery', 'genre_romance',
       'genre_science_fiction', 'genre_tv_movie', 'genre_thriller',
       'genre_war', 'genre_western', 'group'],
      dtype='object')

In [83]:
genres = df[['genre_action', 'genre_adventure', 'genre_animation', 'genre_comedy',
       'genre_crime', 'genre_documentary', 'genre_drama', 'genre_family',
       'genre_fantasy', 'genre_foreign', 'genre_history', 'genre_horror',
       'genre_music', 'genre_mystery', 'genre_romance',
       'genre_science_fiction', 'genre_tv_movie', 'genre_thriller',
       'genre_war', 'genre_western']]
genres

,genre_action,genre_adventure,genre_animation,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,genre_fantasy,genre_foreign,genre_history,genre_horror,genre_music,genre_mystery,genre_romance,genre_science_fiction,genre_tv_movie,genre_thriller,genre_war,genre_western
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45408,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45409,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45410,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45411,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
45412,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
genres_bool = genres.replace({0.0: False, 1.0: True})
genres_bool['genre'] = genres_bool.apply(lambda row: ','.join([col.split('_')[1] for col in genres_bool.columns if row[col]]), axis=1)
# genres['genre'] = genres['genre'].replace({'genre_horror': 'Horror', 'genre_music': 'Music', 'genre_mystery': 'Mystery', 'genre_romance': 'Romance', 'genre_science_fiction': 'Science Fiction', 'genre_thriller': 'Thriller', 'genre_war': 'War', 'genre_western': 'Western'})
# genres['genre'] = genres['genre'].replace(['genre_horror', 'genre_music', 'genre_mystery', 'genre_romance', 'genre_science_fiction', 'genre_thriller', 'genre_war', 'genre_western'], ['Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'Thriller', 'War', 'Western'])
genres_bool

,genre_action,genre_adventure,genre_animation,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,genre_fantasy,genre_foreign,...,genre_horror,genre_music,genre_mystery,genre_romance,genre_science_fiction,genre_tv_movie,genre_thriller,genre_war,genre_western,genre
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,comedy
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,"action,adventure,thriller"
2,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,"action,adventure,thriller"
3,False,False,False,True,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,"comedy,drama,romance"
4,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,"comedy,horror"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45408,False,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,"comedy,fantasy"
45409,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,documentary
45410,False,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,"crime,drama,thriller"
45411,True,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,"action,drama,romance"
45412,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,drama

Index(['adult', 'budget', 'original_language', 'popularity', 'revenue',
       'runtime', 'status', 'title', 'vote_average', 'vote_count',
       'genre_action', 'genre_adventure', 'genre_animation', 'genre_comedy',
       'genre_crime', 'genre_documentary', 'genre_drama', 'genre_family',
       'genre_fantasy', 'genre_foreign', 'genre_history', 'genre_tv_movie',
       'group', 'genre'],
      dtype='object')

In [85]:
df.drop(columns=genres, inplace=True)
df['genre'] = genres_bool['genre']
df

,adult,budget,original_language,popularity,revenue,runtime,status,title,vote_average,vote_count,group,genre
0,False,0,en,8.387519,76578911,106.0,Released,Father of the Bride Part II,5.7,173,3,comedy
1,False,35000000,en,5.231580,64350171,106.0,Released,Sudden Death,5.5,174,3,"action,adventure,thriller"
2,False,58000000,en,14.686036,352194034,130.0,Released,GoldenEye,6.6,1194,2,"action,adventure,thriller"
3,False,62000000,en,6.318445,107879496,106.0,Released,The American President,6.5,199,3,"comedy,drama,romance"
4,False,0,en,5.430331,0,88.0,Released,Dracula: Dead and Loving It,5.7,210,0,"comedy,horror"
...,...,...,...,...,...,...,...,...,...,...,...,...
45408,False,0,fr,0.225432,0,2.0,Released,The Fat and Lean Wrestling Match,6.5,6,0,"comedy,fantasy"
45409,False,0,en,0.011025,0,58.0,Released,Deep Hearts,0.0,0,0,documentary
45410,False,0,hi,1.559596,0,146.0,Released,Mom,6.6,14,0,"crime,drama,thriller"
45411,False,0,en,5.683753,0,104.0,Released,Robin Hood,5.7,26,0,"action,drama,romance"
45412,False,0,tl,0.178241,0,360.0,Released,Century of Birthing,9.0,3,0,drama

In [146]:
website_df = df[['title','popularity','genre','vote_average','vote_count','runtime','original_language','group']]

In [147]:
website_df = website_df.loc[website_df['group'] == 0]

In [149]:
website_df.drop(columns=['group'], inplace=True)

In [178]:
website_df.loc[website_df.index.value_counts() >8]

,popularity,genre,vote_average,vote_count,runtime,original_language
title,,,,,,
Hamlet,12.503030,"drama,history",6.7,95,130.0,en
Cinderella,2.102013,"family,fantasy,music,romance,tv",6.1,28,88.0,en
Cinderella,2.154873,"animation,family,fantasy",6.0,2,48.0,en
Cinderella,1.301063,"family,fantasy,horror,science",5.5,19,5.0,fr
Hamlet,12.896203,drama,6.0,35,112.0,en
Hamlet,0.584251,drama,0.0,0,178.0,en
Hamlet,1.383531,"drama,foreign",7.5,14,140.0,ru
Hamlet,0.487370,drama,4.0,3,210.0,en
Cinderella,1.085134,"action,adventure,animation,comedy,crime,docume...",5.6,5,90.0,en
Hamlet,3.188067,drama,7.1,48,155.0,en
Cinderella,0.361288,"drama,fantasy",5.4,7,52.0,en
Cinderella,0.486073,"comedy,family,fantasy",4.8,5,80.0,ru
Cinderella,0.209552,"drama,romance",5.9,5,77.0,en
Hamlet,9.994088,drama,7.3,118,242.0,en
Hamlet,0.873375,drama,6.1,7,117.0,en
Hamlet,1.682371,drama,7.3,22,185.0,en
Cinderella,0.987462,"family,tv",5.3,9,180.0,en
Cinderella,0.803588,"comedy,romance",4.6,6,91.0,ru

In [166]:
website_df.set_index('title', inplace=True)
website_df.to_csv("Website_Rough_Code/Website/assets/resources/movie_df_for_website.csv")

In [164]:
json_file_path = 'Website_Rough_Code/Website/assets/resources/website_json.json'
with open(json_file_path, 'w') as json_file:
    json_file.write(website_df.to_json(orient='records'))

## To Do:
- add 'year' column from movies_merged.csv to this csv and merge the year with the title to make unique 'title' names as index for the json file.
- Or, do it anyway to differentiate between the different versions.